/* div {
    background-color: grey;
} */

#container {
    background-color: grey;
    color: blue;
}

.some-element {
    background-color: red;
}

.red, .some-element, #container {
    color: red;
    font-weight: bold;
}

span {
    color: blue;
}

a {
    color: green;
    text-decoration: none;
}


a:active {
    color: pink;
}
a:hover {
    color: red;
}

#container div {
    background-color: turquoise;
}


#container>div {
    background-color: greenyellow;
    border: 3px dotted pink;

}
#container div:not(.some-element) {
    background-color: red;

    border: 3px dotted green;
}

/* * {
    color: yellow;
} */


.some-element~input{ 
    border: 5px solid red; 
}

.some-element+input{
    background-color: pink;
    border: 5px solid blue; 
}


[type] {
    font-size: 20px;
}

[type="password"] {
    font-size: 30px;
    color: blue;
}


[class~="error-message"] {
    font-size: 30px;
    color: pink;
}

[class|="error"] {
    font-size: 15px;
    color: green;
}

[class^="error"] {
    font-size: 3px;
    color: purple;
}

[class$="message"] {
    text-decoration: underline;
}


[class*="or-mes"] {
    font-weight: bolder;
}

table tr:first-child td:first-child {
    background-color: salmon;
}

[type="checkbox"]:checked {
    border: 3px solid red;
}




#container:after {
    display: block;
    content: "something";
    width: 20px;
    height: 20px;
}