* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted grey;
}

header {
    height: 40px;
    min-width: 900px;
}




article {
    /* width: 300px; */
    border: 2px solid red;
    border-radius: 10px;
}

svg {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}