.flex-container {
    display: flex;
}

div {
    padding-right: 50px;
}

li {
    list-style: none;
}

form div {
    padding: 10px 0;
}

#errors p {
    margin: 5px 0;
    color: red;
}