body {
  margin: 0;
}



.player {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.obstacle {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
}