body {
  margin: 0;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: darkgreen;
}

.game-area {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: white;
  position: relative;
}

.player {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}